# {{ ansible_managed }}
[server]
hostname = {{ rhsm_foreman_server }}
prefix = {{ rhsm_foreman_prefix }}
port = {{ rhsm_foreman_port }}
insecure = {{ not rhsm_validate_certs | bool }}
ssl_verify_depth = 3
proxy_hostname = {{ rhsm_proxy_hostname }}
proxy_port = {{ rhsm_proxy_port }}
proxy_user = {{ rhsm_proxy_user }}
proxy_password = {{ rhsm_proxy_password }}

[rhsm]
{% if rhsm_server_type == 'cdn' %}
baseurl= https://cdn.redhat.com
repo_ca_cert = %(ca_cert_dir)sredhat-uep.pem
{% else %}
baseurl= https://{{ rhsm_foreman_server }}/pulp/repos
repo_ca_cert = %(ca_cert_dir)skatello-server-ca.pem
{% endif %}

ca_cert_dir = /etc/rhsm/ca/
productCertDir = /etc/pki/product
entitlementCertDir = /etc/pki/entitlement
consumerCertDir = /etc/pki/consumer
manage_repos = 1
full_refresh_on_yum = 1
report_package_profile = 1
package_profile_on_trans = 1
pluginDir = /usr/share/rhsm-plugins
pluginConfDir = /etc/rhsm/pluginconf.d

[rhsmcertd]
certCheckInterval = 240
autoAttachInterval = 1440
